---
layout: single

title:  "Verifying Recurrent Neural Networks using Invariant Inference"

categories: Paper

tag: [verification, robustness, neural network, RNN]

typora-root-url: ../

toc: true

author_profile: false

sidebar:
    nav: "docs"

# search: false
use_math: true
---

**글에 들어가기 앞서...**

이 포스팅은 '***Verifying Recurrent Neural Networks using Invariant Inference***' 논문에 대한 소개를 담고 있습니다.



논문 원본은 아래의 링크를 통해 확인할 수 있습니다.

- <https://theory.stanford.edu/~barrett/pubs/PWG+21.pdf>





## 배경

신경망을 기반으로 한 이미지 분류 모델의 정확도는 근 몇년간 굉장히 빠른 속도로 상승했
